{{#each model as |episode|}}

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" 
                 src={{episode.channel.thumbnail.url}} 
                 width={{episode.channel.thumbnail.width}}
                 height={{episode.channel.thumbnail.width}}
                 alt={{episode.channel.name}} />
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{episode.channel.name}}</h4>
        <h5>{{episode.title}}</h5>
        {{#if episode.explicit}}
        <span class="label label-danger"><span class="glyphicon glyphicon-warning"></span> EXPLICIT</span>
        {{/if}}
        <p>
        {{episode.subtitle}}
        </p>
        <p>
        {{#each episode.channel.categories as |category|}}
        <a href="#">
            <span class="label label-default">{{category.name}}</span>
        </a>
        {{/each}}
        </p>
        <p>
            <audio controls>
                <source src={{episode.enclosureUrl}} type={{episode.enclosureType}} />
            </audio>
        </p>
    </div>
</div>

{{/each}}
